[Unit]
Description=TermoCam Edge Capture Flask Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/camera_scanner_termocam/pi
ExecStart=/usr/bin/libcamerify /usr/bin/python3 live_camera_server.py
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1
StandardOutput=append:/var/log/termocam.log
StandardError=append:/var/log/termocam.err

[Install]
WantedBy=multi-user.target
